@model IEnumerable<Insurance_Application_System.Models.Booking>

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Insurance Bookings</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Insurance Package</th>
            <th>Status</th>
            <th>Owner</th>
            <th>Payout</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Member.FirstName</td>
            <td>@item.Member.LastName</td>
            <td>@item.Member.Email</td>
            <td>@item.InsurancePackage.Name</td>
            <td>@item.Status</td>
            <td>@item.Owner</td>
            <td>@item.Payout</td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
               
               

                <button data-training-id="@item.Id" class="btn-link js-delete"> Delete </button>


            </td>
        </tr>
        }
    </tbody>
</table>

